
.navbar {
    background-color: var(--dark);
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 40px;
    width: 83px;
}

.navlink-container {
    display: flex;
    align-items: center;
    gap: 30px;
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
}
.navlink-container > a {
    cursor: pointer;
}

.avatar__notification {
    display: flex;  
    align-items: center;
    gap: 25px;
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.avatar > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}



/* MOBILE VIEW */
@media screen and (max-width: 768px) {
    .navbar {
        padding: 20px 10px;
    }
    .navlink-container {
        display: none;
    }
}